@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #032147;
  --accent-yellow: #ecad0a;
  --blue-primary: #209dd7;
  --purple-secondary: #753991;
  --dark-navy: #032147;
  --gray-text: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
